@page "/add"

@inject NavigationManager NavigationManager
@inject DataService DataService

<h1>Add New</h1>

<EditForm Model="@recipe" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">Name</label>
        <InputText id="name" @bind-Value="recipe.Name" class="form-control col-sm-6" />
    </div>

    <div class="form-group row">
        <label for="book" class="col-sm-1 col-form-label">Book</label>
        <InputText id="book" @bind-Value="recipe.Book" class="form-control col-sm-6" />
    </div>

    <div class="form-group row">
        <label for="author" class="col-sm-1 col-form-label">Author</label>
        <InputText id="author" @bind-Value="recipe.Author" class="form-control col-sm-6" />
    </div>

    <div class="form-group row">
        <label for="ingredients" class="col-sm-1 col-form-label">Ingredients</label>
        <InputText id="ingredients" @bind-Value="recipe.Ingredients" class="form-control col-sm-6" />
    </div>

    <button class="btn btn-success" type="submit">Save</button>
</EditForm>

@code
{
    private Recipe recipe = new();

    private void HandleValidSubmit()
    {
        if (DataService.Save(recipe))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}