@page "/add"

@inject NavigationManager NavigationManager
@inject DataService DataService

<h1>Add New</h1>

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">Name</label>
        <InputText id="name" @bind-Value="recipe.Name" class="form-control col-sm-6" />
    </div>

    <div class="form-group row">
        <label for="book" class="col-sm-1 col-form-label">Book</label>
        <InputText id="book" @bind-Value="recipe.Book" class="form-control col-sm-6" />
    </div>

    <div class="form-group row">
        <label for="author" class="col-sm-1 col-form-label">Author</label>
        <InputText id="author" @bind-Value="recipe.Author" class="form-control col-sm-6" />
    </div>

    <div class="form-group">
        <div>
            <button id="add-ingredient" type="button" class="btn btn-success" @onclick="AddIngredient">Add</button>
        </div>

        <table id="ingredients" class="table table-compact">
            <thead>
                <tr>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                @if (!recipe.Ingredients.Any())
                {
                    <tr>
                        <td>There are no ingredients for this recipe.</td>
                    </tr>
                }
                else
                {
                    @foreach (var (item, index) in recipe.Ingredients.Select((r, i) => (r,i)))
                    {
                        <tr>
                            <td>
                                <InputText id="@($"ingredient{index}")" @bind-Value="item.Name" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <button id="save" class="btn btn-success" type="submit" disabled="@formInvalid">Save</button>
</EditForm>

@code
{
    private Recipe recipe = new();

    private EditContext? editContext;
    private bool formInvalid = true;

    protected override Task OnInitializedAsync()
    {
        editContext = new(recipe);
        editContext.OnFieldChanged += HandleFieldChanged;
        
        return base.OnInitializedAsync();
    }
    
    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (editContext is not null)
        {
            formInvalid = !editContext.Validate();
            StateHasChanged();
        }
    }

    public void AddIngredient()
    {
        ((Recipe)editContext!.Model).Ingredients.Add(new());
    }

    private async Task HandleValidSubmit()
    {
        if (await DataService.SaveAsync(recipe))
        {
            NavigationManager.NavigateTo("/");
        }
    }
}