@page "/"

@inject NavigationManager NavigationManager
@inject DataService DataService

<h1>Recipes</h1>

<button id="add" class="btn btn-primary" @onclick="NavigateToAdd">Add</button>

<table id="recipes" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Recipe</th>
            <th>Book</th>
            <th>Author</th>
            <th>Main Ingredients</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in _recipes)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Book</td>
                <td>@r.Author</td>
                <td>@string.Join(',', r.Ingredients.Select(i => i.Name))</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    private IEnumerable<Recipe> _recipes { get;set; } = Enumerable.Empty<Recipe>();

    private void NavigateToAdd()
    {
        NavigationManager.NavigateTo("add");
    }

    protected override void OnInitialized()
    {
        _recipes = DataService.GetRecipes();
    }
}